flows-2.json
[
    {
        "id": "9e2ef1a86c3163ac",
        "type": "tab",
        "label": "ISS Live",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e7061783f5153985",
        "type": "ui_group",
        "name": "💧 Sea (Aqua Earth Satelite)",
        "tab": "f606d9a389f2f70f",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "1d4a4399868ce70a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "ISS Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "09238afca2c052df",
        "type": "websocket-listener",
        "path": "/ws/lightstreamer",
        "wholemsg": "false"
    },
    {
        "id": "6f08a72d57790cd5",
        "type": "ui_group",
        "name": "🍃 Oxygen",
        "tab": "8380d994ac92c97a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d853790f932dc31d",
        "type": "ui_group",
        "name": "🫧 Waste Water",
        "tab": "8380d994ac92c97a",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4ffbd9ecb487c4a6",
        "type": "ui_group",
        "name": "💧 Clean Water",
        "tab": "8380d994ac92c97a",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "b653f8aafd4a54fd",
        "type": "ui_group",
        "name": "⚡ Urine",
        "tab": "8380d994ac92c97a",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "37b6217881436ac4",
        "type": "ui_group",
        "name": "ISS Location",
        "tab": "8380d994ac92c97a",
        "order": 8,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "af559ccfc82ea3b6",
        "type": "ui_group",
        "name": "ISS Mode",
        "tab": "8380d994ac92c97a",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "166766417cee0fa0",
        "type": "ui_group",
        "name": "🎥 Live Camera",
        "tab": "8380d994ac92c97a",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "8380d994ac92c97a",
        "type": "ui_tab",
        "name": "🌎 ISS Telemetry",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1be0c3cbc381f61f",
        "type": "ui_group",
        "name": "🍃 Air (Sentinal 6 Altimeter Satellite)",
        "tab": "f606d9a389f2f70f",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3bf82a8116b6e877",
        "type": "ui_tab",
        "name": "📡 Space Telescope",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1dc7b66361383172",
        "type": "ui_group",
        "name": "🛰️ ISS Tracker",
        "tab": "8380d994ac92c97a",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9e95cd893ce32d85",
        "type": "ui_group",
        "name": "🕸️ Webb Space Craft",
        "tab": "3bf82a8116b6e877",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "0292ed74c9971e57",
        "type": "ui_group",
        "name": "Webb Heat Map",
        "tab": "3bf82a8116b6e877",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "f606d9a389f2f70f",
        "type": "ui_tab",
        "name": "🛰️ Earth Monitor Satellite",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "95603b77425bb5c8",
        "type": "ui_group",
        "name": "Satellites",
        "tab": "f606d9a389f2f70f",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "0b3e1a18d2898f85",
        "type": "ui_group",
        "name": "ISS 3D",
        "tab": "8380d994ac92c97a",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d73d6b4c6e157cb6",
        "type": "ui_group",
        "name": "Deep Space Network",
        "tab": "f606d9a389f2f70f",
        "order": 4,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9897cce4bb70f3ca",
        "type": "ui_group",
        "name": "🌌 Exo Planet",
        "tab": "3bf82a8116b6e877",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "5df8d9de2d7ea8ea",
        "type": "websocket in",
        "z": "9e2ef1a86c3163ac",
        "name": "Lightstreamer WebSocket In",
        "server": "09238afca2c052df",
        "client": "",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "dc9f9558705d80c3",
                "d8874658ed734446"
            ]
        ]
    },
    {
        "id": "dc9f9558705d80c3",
        "type": "json",
        "z": "9e2ef1a86c3163ac",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "be2d70ad8ec6c3be"
            ]
        ]
    },
    {
        "id": "be2d70ad8ec6c3be",
        "type": "switch",
        "z": "9e2ef1a86c3163ac",
        "name": "",
        "property": "payload.item",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "USLAB000053",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NODE3000005",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NODE3000009",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NODE3000008",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "USLAB000086",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "7e8d3142f3c4ef5a"
            ],
            [
                "c0d23e75c2ca3f94"
            ],
            [
                "dfa217cd27531287"
            ],
            [
                "2d9b883fb2efecee"
            ],
            [
                "04575e4889d3433c"
            ]
        ]
    },
    {
        "id": "7e8d3142f3c4ef5a",
        "type": "change",
        "z": "9e2ef1a86c3163ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oxygen",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c0d23e75c2ca3f94",
        "type": "change",
        "z": "9e2ef1a86c3163ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "urine",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "dfa217cd27531287",
        "type": "change",
        "z": "9e2ef1a86c3163ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wasteWater",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2d9b883fb2efecee",
        "type": "change",
        "z": "9e2ef1a86c3163ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cleanWater",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d8874658ed734446",
        "type": "function",
        "z": "9e2ef1a86c3163ac",
        "name": "function - life support",
        "func": "var msg1 = {payload:flow.get(\"oxygen\")};\nvar msg2 = { payload: flow.get(\"wasteWater\") };\nvar msg3 = { payload: flow.get(\"cleanWater\") };\nvar msg4 = { payload: flow.get(\"urine\") };\nvar msg5 = { payload: flow.get(\"stationMode\") };\n\nreturn [msg1, msg2, msg3, msg4, msg5];\n",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 600,
        "wires": [
            [
                "24e30fbce775b65a"
            ],
            [
                "2f1b612602ae727f"
            ],
            [
                "fad1065d7b44c625"
            ],
            [
                "f58378449d546ac5"
            ],
            [
                "b1f457e6ddc5e818"
            ]
        ]
    },
    {
        "id": "24e30fbce775b65a",
        "type": "ui_gauge",
        "z": "9e2ef1a86c3163ac",
        "name": "",
        "group": "6f08a72d57790cd5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Oxygen (02)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "2f1b612602ae727f",
        "type": "ui_gauge",
        "z": "9e2ef1a86c3163ac",
        "name": "",
        "group": "d853790f932dc31d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Waste Water",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "fad1065d7b44c625",
        "type": "ui_gauge",
        "z": "9e2ef1a86c3163ac",
        "name": "",
        "group": "4ffbd9ecb487c4a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Clean Water (H20)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "f58378449d546ac5",
        "type": "ui_gauge",
        "z": "9e2ef1a86c3163ac",
        "name": "",
        "group": "b653f8aafd4a54fd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Urine",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 640,
        "wires": []
    },
    {
        "id": "04575e4889d3433c",
        "type": "function",
        "z": "9e2ef1a86c3163ac",
        "name": "station mode",
        "func": "const value = msg.payload.value;\nvar stationMode;\n\nswitch(value){\n    case \"1\":{\n        stationMode = \"Standard\";\n        break;\n    }\n    case \"2\": {\n        stationMode = \"Microgravity\";\n        break;\n    }\n    case \"4\": {\n        stationMode = \"Reboost\";\n        break;\n    }\n    case \"8\": {\n        stationMode = \"Proximity_Ops\";\n        break;\n    }\n    case \"16\": {\n        stationMode = \"External_Ops\";\n        break;\n    }\n    case \"32\": {\n        stationMode = \"Survival\";\n        break;\n    }\n    case \"64\": {\n        stationMode = \"ASCR\";\n        break;\n    }\n    case \"127\": {\n        stationMode = \"all_modes\";\n        break;\n    }\n}\n\nflow.set(\"stationMode\", stationMode);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b1f457e6ddc5e818",
        "type": "ui_text",
        "z": "9e2ef1a86c3163ac",
        "group": "af559ccfc82ea3b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ISS Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 680,
        "wires": []
    },
    {
        "id": "44f202488f681294",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "1be0c3cbc381f61f",
        "name": "Air iframe",
        "order": 3,
        "width": 8,
        "height": 6,
        "url": "https://earth.nullschool.net/#current/wind/surface/level/overlay=temp/patterson",
        "origin": "*",
        "scale": "40",
        "x": 180,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "cde59cc1622f03cd",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "e7061783f5153985",
        "name": "Sea iframe",
        "order": 3,
        "width": 8,
        "height": 6,
        "url": "https://earth.nullschool.net/#current/ocean/surface/currents/overlay=primary_waves/patterson",
        "origin": "*",
        "scale": "40",
        "x": 390,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "10dc06767cf4a603",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "166766417cee0fa0",
        "name": "ISS Live",
        "order": 1,
        "width": 24,
        "height": 12,
        "url": "https://www.youtube.com/embed/jPTD2gnZFUw?autoplay=1",
        "origin": "*",
        "scale": "40",
        "x": 160,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "9f099e89fcc457e5",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "1dc7b66361383172",
        "name": "Tracker iframe",
        "order": 1,
        "width": "8",
        "height": "6",
        "url": "https://isstracker.spaceflight.esa.int/",
        "origin": "*",
        "scale": "84",
        "x": 180,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2c646e4e60b9c85d",
        "type": "inject",
        "z": "9e2ef1a86c3163ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7f46cda3282adc0b",
        "type": "function",
        "z": "9e2ef1a86c3163ac",
        "name": "function 5",
        "func": "msg.payload = { \n    \"name\": \"Joe\", \n    \"lat\": msg.payload.iss_position.latitude, \n    \"lon\": msg.payload.iss_position.longitude\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "09dfd0e66a348003",
        "type": "ui_worldmap",
        "z": "9e2ef1a86c3163ac",
        "group": "37b6217881436ac4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "dba45e684c7d663b",
        "type": "iss-location",
        "z": "9e2ef1a86c3163ac",
        "method": "ISSLocationNow",
        "name": "",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "7f46cda3282adc0b"
            ]
        ]
    },
    {
        "id": "b16b5eadcb9b1a64",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "1be0c3cbc381f61f",
        "name": "Wind Aqua iframe",
        "order": 2,
        "width": 8,
        "height": 6,
        "url": "https://eyes.nasa.gov/apps/earth/#/vital-signs/air-temperature/airs-infrared-surface-3day",
        "origin": "*",
        "scale": "20",
        "x": 210,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "eff259d87a22007e",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "e7061783f5153985",
        "name": "Sea Sentinal-6 iframe",
        "order": 2,
        "width": 8,
        "height": 6,
        "url": "https://eyes.nasa.gov/apps/earth/#/vital-signs/sea-level/ocean-climate-measurements-monthly",
        "origin": "*",
        "scale": "20",
        "x": 420,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "149568c0c723f49b",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "9e95cd893ce32d85",
        "name": "Webb Telescope",
        "order": 1,
        "width": 24,
        "height": 12,
        "url": "https://eyes.nasa.gov/apps/orrery/#/sc_jwst",
        "origin": "*",
        "scale": "40",
        "x": 200,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "a7cbec82a559e3a7",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "0292ed74c9971e57",
        "name": "Webb Heat Map",
        "order": 1,
        "width": "10",
        "height": "8",
        "url": "https://webb.nasa.gov/ImagesContent/observatory/observatory2ndTierBreakdown-2000px.jpg",
        "origin": "*",
        "scale": "40",
        "x": 200,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "bcd8ce550e88164e",
        "type": "http in",
        "z": "9e2ef1a86c3163ac",
        "name": "",
        "url": "/lightstreamer-client.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "cd30edd146118b3a"
            ]
        ]
    },
    {
        "id": "cd30edd146118b3a",
        "type": "function",
        "z": "9e2ef1a86c3163ac",
        "name": "function 7",
        "func": "const fs = require('fs');\nconst path = '/Users/manishkchauhan/Desktop/lightstreamer-client.js';\n\nmsg.headers = {\n    'Content-Type': 'application/javascript'\n};\n\nmsg.payload = fs.readFileSync(path, 'utf8');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2c07c93857c600d0",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "9897cce4bb70f3ca",
        "name": "Milky Way Exo Planets",
        "order": 1,
        "width": 24,
        "height": 12,
        "url": "https://eyes.nasa.gov/apps/exo/#/",
        "origin": "*",
        "scale": "40",
        "x": 220,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "d48f3a9f6ded9817",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "95603b77425bb5c8",
        "name": "Space Craft Earth",
        "order": 1,
        "width": 24,
        "height": 12,
        "url": "https://eyes.nasa.gov/apps/solar-system/#/earth",
        "origin": "*",
        "scale": "40",
        "x": 210,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "cb8137eb44763609",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "0b3e1a18d2898f85",
        "name": "ISS Model",
        "order": 1,
        "width": 24,
        "height": 12,
        "url": "https://eyes.nasa.gov/apps/earth/#/satellites/iss",
        "origin": "*",
        "scale": "40",
        "x": 370,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "022798695a306fb2",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "1be0c3cbc381f61f",
        "name": "Aqua Satellite iframe",
        "order": 1,
        "width": 8,
        "height": 6,
        "url": "https://eyes.nasa.gov/apps/earth/#/satellites/aqua",
        "origin": "*",
        "scale": "20",
        "x": 220,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "a4fd17bb047f21dd",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "e7061783f5153985",
        "name": "Sea Sentinal-6 Satellite",
        "order": 1,
        "width": 8,
        "height": 6,
        "url": "https://eyes.nasa.gov/apps/orrery/#/sc_sentinel_6",
        "origin": "*",
        "scale": "20",
        "x": 450,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "cefa3a169cf4adc3",
        "type": "ui_iframe",
        "z": "9e2ef1a86c3163ac",
        "group": "d73d6b4c6e157cb6",
        "name": "Deep Space Network",
        "order": 1,
        "width": 24,
        "height": 12,
        "url": "https://eyes.nasa.gov/dsn/dsn.html",
        "origin": "*",
        "scale": "40",
        "x": 220,
        "y": 1340,
        "wires": [
            []
        ]
    }
]